<!-- BEGIN: Header-->
<nav class="header-navbar navbar-expand-lg navbar navbar-with-menu navbar-fixed navbar-shadow navbar-brand-center"
    data-nav="brand-center">
    <div class="navbar-wrapper">
        <div class="navbar-container content">
            <div class="navbar-collapse" id="navbar-mobile">
                <div class="content-header-left col-md-2 col-12">
                    <ul class=" nav float-left">
                        <li class="dropdown dropdown-user nav-item">
                            <a class="dropdown-toggle nav-link dropdown-user-link" data-toggle="dropdown">
                                <span>
                                    <a (click)="logout()" style="margin-right: 10px;">
                                        <i class="ficon feather icon-log-out" style="font-size:large;"></i>
                                    </a>
                                </span>
                                <div class="user-nav d-sm-flex d-none">
                                    <span class="user-name text-bold-600">
                                        {{ currentUser.firstname }} {{ currentUser.lastname }} </span>
                                    <span class="user-status">{{ currentUser.email }}</span>
                                </div>

                            </a>
                        </li>
                    </ul>
                </div>
                <div class="content-header-left text-md-left col-md-6 col-12">
                    <div class="form-group breadcrum-right" style="margin-bottom: 0px;">
                        <div class="btn-group">
                            <button type="button" class="btn btn-success waves-effect waves-light"
                                (click)="visualisationButton()" style="margin-right: 10px;">Visualisation</button>
                            <button type="button" class="btn btn-success waves-effect waves-light"
                                (click)="administrationButton()" style="margin-right: 10px;"
                                [hidden]="role.toString() !== 'ADMIN'">Administration</button>
                            <!--<button type="button" class="btn btn-success waves-effect waves-light"
                                [routerLink]="['/form']">Specific Form</button>-->
                        </div>
                    </div>
                </div>
                <div class="content-header-right text-md-right col-md-4 col-12">
                    <div class="form-group breadcrum-right" style="margin-bottom: 0px;">
                        <div class="btn-group">
                            <div class="dropdown" style="margin-right: 10px;">
                                <div class="btn-group dropdown" *ngIf="dropdown">
                                    <div class="btn btn-success">Séléctionner une parcelle</div>
                                    <button type="button"
                                        class="btn btn-success dropdown-toggle dropdown-toggle-split waves-effect waves-light"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <span class="sr-only">Toggle Dropdown</span>
                                    </button>
                                    <div *ngIf="parcelles != []">
                                        <div>
                                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton100">
                                                <a class="dropdown-item" *ngFor="let p of parcelles"
                                                    (click)="selectedParcelle(p)">{{ p.nom }}</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <button type="button" class="btn btn-success waves-effect waves-light" *ngIf="addParcelle"
                                [hidden]="role.toString() !== 'ADMIN'">
                                <a [attr.data-target]="'#addParcelle'" data-toggle="modal"
                                    style="background-color: transparent;border: 0 solid transparent;padding: 0;">
                                    <i class="feather icon-plus"></i> Parcelle
                                </a>
                            </button>
                            <button type="button" class="btn btn-success waves-effect waves-light" *ngIf="listParcelles"
                                [hidden]="role.toString() !== 'ADMIN'">
                                <a [attr.data-target]="'#listParcelle'" data-toggle="modal"
                                    (click)="modalListParcelles()"
                                    style="background-color: transparent;border: 0 solid transparent;padding: 0;">
                                    Liste des parcelles
                                </a>
                            </button>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>
<div class="modal fade" [id]="'addParcelle'" role="dialog" aria-labelledby="addParcelleTitle" aria-hidden="true">
    <app-add-parcelle (verify)="verifAdd($event)"></app-add-parcelle>
</div>
<div class="modal fade" [id]="'listParcelle'" role="dialog" aria-labelledby="listParcelleTitle" aria-hidden="true"
    *ngIf="displayListParcelles">
    <app-list-parcelles [allParcelles]="allParcelles" (verify)="verifDelete($event)"></app-list-parcelles>
</div>
<div class="modal fade" [id]="'listUsers'" role="dialog" aria-labelledby="listUsersTitle" aria-hidden="true"
    *ngIf="displayListUsers">
    <app-list-users></app-list-users>
</div>
<!-- END: Header-->