<form [formGroup]="form">
    <div class="input-field">
        <input matInput type="email" name="email" placeholder="Email" formControlName="email">
    </div>
    <div class="input-field">
        <input matInput type="password" placeholder="Password" formControlName="password">
    </div>
    <div *ngFor="let control of  rolesFieldAsFormArray.controls ;let i = index;" formArrayName='roles'>
        <div [formGroupName]="i">
            <div class="input-field">
                <input matInput type="text" placeholder="Role" formControlName="role">
            </div>
            <button class="button" type="button" (click)="remove(i)">Remove</button>
        </div>
    </div>
    <button class="button" (click)="addControl()"> Add New Role</button>
    <button class="button" type="submit" (click)="formValue()" [disabled]="form.invalid">
        Login
    </button>
</form>
<!--<form [formGroup]="form">
    <div *ngFor="let config of fieldConfigs; let i = index">
        <label>{{ config.label }}</label>
        <ng-container [ngSwitch]="config.type">
            <select *ngSwitchCase="'dropdown'" [formControlName]="config.name">
                <option *ngFor="let option of config.options" [value]="option">{{ option }}</option>
            </select>
            <input *ngSwitchCase="'text'" [formControlName]="config.name" type="text">
            <textarea *ngSwitchCase="'note'" [formControlName]="config.name"></textarea>
            <input *ngSwitchCase="'chiffre'" [formControlName]="config.name" type="number">
            <input *ngSwitchCase="'date'" [formControlName]="config.name" type="date">
            <input *ngSwitchCase="'fichier'" [formControlName]="config.name" type="file">
        </ng-container>
        <p>Field Name: {{ config.name }}</p>
        <button (click)="removeFormControl(i)">Remove</button>
    </div>
</form>

<div>
    <div>
        <select [(ngModel)]="selectedFieldType">
            <option *ngFor="let option of fieldTypeOptions" [value]="option">{{ option }}</option>
        </select>
        <button (click)="addFormControl(selectedFieldType)">Add Field</button>
    </div>
</div>

<button (click)="getFormData()">Get JSON Data</button>-->