<div class="content-wrapper">
    <div class="content-body">
        <div id="sidebar" class="leaflet-sidebar" [hidden]="hideOptions">
            <div class="leaflet-sidebar-tabs">
                <ul>
                    <li><a href="#home"><i class="fa fa-bars"></i></a></li>
                </ul>
            </div>
            <div class="leaflet-sidebar-content">
                <div class="leaflet-sidebar-pane active" id="home">
                    <div class="vs-checkbox-con vs-checkbox-success" style="margin:1rem;">
                        <input type="checkbox" [(ngModel)]="isCheckedParcelle" (change)="onCheckboxChange('parcelle')">
                        <span class="vs-checkbox">
                            <span class="vs-checkbox--check">
                                <i class="vs-icon feather icon-check"></i>
                            </span>
                        </span>
                        <span class="">Parcelle</span>
                    </div>
                    <div class="vs-checkbox-con vs-checkbox-success" style="margin:1rem;">
                        <input type="checkbox" [(ngModel)]="isCheckedPlanSondage"
                            (change)="onCheckboxChange('planSondage')">
                        <span class="vs-checkbox">
                            <span class="vs-checkbox--check">
                                <i class="vs-icon feather icon-check"></i>
                            </span>
                        </span>
                        <span class="">Plan de Sondage</span>
                    </div>
                    <div class="vs-checkbox-con vs-checkbox-success" style="margin:1rem;">
                        <input type="checkbox" [(ngModel)]="isCheckedPrelevement"
                            (change)="onCheckboxChange('prelevements')">
                        <span class="vs-checkbox">
                            <span class="vs-checkbox--check">
                                <i class="vs-icon feather icon-check"></i>
                            </span>
                        </span>
                        <span class="">Prélèvement</span>
                    </div>
                    <div class="vs-checkbox-con vs-checkbox-success" style="margin:1rem;">
                        <input type="checkbox" [(ngModel)]="isCheckedObservation"
                            (change)="onCheckboxChange('observations')">
                        <span class="vs-checkbox">
                            <span class="vs-checkbox--check">
                                <i class="vs-icon feather icon-check"></i>
                            </span>
                        </span>
                        <span class="">Observations</span>
                    </div>
                    <button type="button" class="btn btn-flat-success mr-1 mb-1 waves-effect waves-light"><a
                            [attr.data-target]="'#addPlanSondage'" data-toggle="modal"
                            style="background-color: transparent;border: 0 solid transparent;padding: 0;">
                            <i class="feather icon-plus"></i> Plan Sondage
                        </a>
                    </button>
                </div>
            </div>
        </div>
        <div id="map" style="height: 670px; z-index: 1;"></div>
        <div id="details-container" class="details-container" style="display: none;">
            <div class=" card" style="height: 600px;">
                <div class=" card-header">
                    <div class="card-title">Détail du prélèvement</div>
                    <button type="button" class="close" (click)="closeDiv('Prelevement')">
                        <span aria-hidden="true">
                            <i class="feather icon-x"></i></span>
                    </button>
                </div>
                <div class="card-body">
                    <table class="col-12">
                        <tbody>
                            <tr>
                                <th class="font-weight-bold">Numéro</th>
                                <td style="align-content: center; margin-top: 20px;">{{ prelevement?.numero }}
                                </td>
                            </tr>
                            <tr>
                                <td class="font-weight-bold">Munition Référence</td>
                                <td style="align-content: center; margin-top: 20px;">
                                    {{ prelevement?.munitionReference }}
                                </td>
                            </tr>
                            <tr>
                                <td class="font-weight-bold">Côte Plateforme</td>
                                <td style="align-content: center; margin-top: 20px;">{{
                                    prelevement?.cotePlateforme }}
                                </td>
                            </tr>
                            <tr>
                                <td class="font-weight-bold">Profondeur à sécuriser</td>
                                <td style="align-content: center; margin-top: 20px;">{{
                                    prelevement?.profondeurASecuriser }}
                                </td>
                            </tr>
                            <tr>
                                <td class="font-weight-bold">Côte à sécuriser</td>
                                <td style="align-content: center; margin-top: 20px;">{{
                                    prelevement?.coteASecuriser }}
                                </td>
                            </tr>
                            <tr>
                                <td class="font-weight-bold" colspan="2">Remarques</td>
                            </tr>
                            <tr>
                                <td colspan="2" style="align-content: center; margin-top: 20px;">{{
                                    prelevement?.remarques }}
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <hr style="margin-top: 10px;width: 300px">
                                </td>
                            </tr>
                            <tr>
                                <td class="font-weight-bold">Images</td>
                                <td style="align-content: center;align-content: center;">
                                    <a [attr.data-target]="'#modalImages-' + prelevement?.id" data-toggle="modal"
                                        (click)="modalImagesPrelevement(prelevement.id)">
                                        <i class="feather icon-eye"></i>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <hr style="margin-top: 10px;width: 300px">
                                </td>
                            </tr>
                            <tr>
                                <td class="font-weight-bold" colspan="2">Passes</td>
                            </tr>

                        </tbody>

                    </table>
                    <div class="container">
                        <div class="box">
                            <div *ngFor="let p of passes">
                                <div class="d-flex justify-content-between mt-2"
                                    style="background-color: #f8f8f8;padding: 10px;margin: 10px 0px;">
                                    <div class="float-left">
                                        <h6 class="font-medium-2 mb-0">{{ p.munitionReference }}</h6>
                                        <p class="">Profondeur Sonde: {{ p.profondeurSonde }}</p>
                                        <p class="">Profondeur Sécurisée: {{ p.profondeurSecurisee }}</p>
                                        <p class="">Côte Sécurisée: {{ p.coteSecurisee }}</p>
                                    </div>
                                    <div class="float-right">
                                        <p class="font-medium-2 mb-0">GradientMag</p>
                                        <p style="text-align:right;">{{ p.gradientMag }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="details-container2" class="details-container" style="display: none;">
            <div class="card" style="height: 600px;">
                <div class=" card-header">
                    <div class="card-title">Détail de l'observation</div>
                    <button type="button" class="close" (click)="closeDiv('Observation')">
                        <span aria-hidden="true">
                            <i class="feather icon-x"></i></span>
                    </button>
                </div>
                <div class="card-body">
                    <table class="col-12">
                        <tbody>
                            <tr>
                                <th class="font-weight-bold">Nom</th>
                                <td style="align-content: center; margin-top: 20px;">{{ observation?.nom }}
                                </td>
                            </tr>
                            <tr>
                                <th class="font-weight-bold">Description</th>
                                <td style="align-content: center; margin-top: 20px;">{{ observation?.description }}
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <hr style="margin-top: 10px;width: 300px">
                                </td>
                            </tr>
                            <tr>
                                <td class="font-weight-bold">Images</td>
                                <td style="align-content: center;align-content: center;">
                                    <a [attr.data-target]="'#modalImagesObservations-' + observation?.id"
                                        data-toggle="modal" (click)="modalImagesObservation(observation.id)">
                                        <i class="feather icon-eye"></i>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" [id]="'addParcelle'" role="dialog" aria-labelledby="addParcelleTitle" aria-hidden="true">
    <app-parcelle></app-parcelle>
</div>
<div class="modal fade" [id]="'addPlanSondage'" tabindex="-1" role="dialog" aria-labelledby="addPlanSondageTitle"
    aria-hidden="true">
    <app-plan-sondage [parcelle]="parcelle"></app-plan-sondage>
</div>
<div class="modal fade" [id]="'modalImages-' + prelevement?.id" role="dialog" aria-labelledby="modalImagesTitle"
    aria-hidden="true" *ngIf="displayImagesPrelevement">
    <app-images [id]="prelevement.id"></app-images>
</div>
<div class="modal fade" [id]="'modalImagesObservations-' + observation?.id" role="dialog"
    aria-labelledby="modalImagesObservationsTitle" aria-hidden="true" *ngIf="displayImagesObservation">
    <app-observation-images [id]="observation.id"></app-observation-images>
</div>