<form [formGroup]="dynamicForm1" (ngSubmit)="onSubmit2()">
    <div class="card m-3">
        <label class="form-label">titre</label>
        <input type="text" class="form-control" formControlName="titre" />
        <label class="form-label">description</label>
        <textarea class="form-control" formControlName="description"></textarea>
        <div class="card-body border-bottom">
            <div class="row">
                <div class="col-3 mb-3">
                    <label class="form-label" style="margin-right: 10px;">Choisir l'élement</label>
                    <select #selectedFieldType>
                        <option value=""></option>
                        <option *ngFor="let option of fieldTypeOptions" [value]="option">
                            {{ option }}
                        </option>
                    </select>
                    <a (click)="onChangeTickets2(selectedFieldType.value)" style="margin-left: 10px;color: green;"><i
                            class="feather icon-plus"></i> Ajouter</a>
                </div>
            </div>
        </div>
        <div *ngFor="let field of fieldsFormGroups; let i = index" class="list-group list-group-flush">
            <div class="list-group-item">
                <h5 class="card-title">Elément {{ i+1 }}</h5>
                <div [formGroup]="field" class="row">
                    <div class="col-6 mb-3" *ngIf="
              ['Input', 'TextArea', 'Date', 'RadioButton', 'Switch', 'Checkbox', 'Select'].includes(
                field.controls['type'].value
              )
            ">
                        <label class="form-label">Label</label>
                        <input type="text" formControlName="label" class="form-control" [ngClass]="{
                'is-invalid': submitted && field.controls['label'].errors
              }" />
                        <div *ngIf="submitted && field.controls['label'].errors" class="invalid-feedback">
                            <div *ngIf="field.controls['label'].errors['required']">
                                Ce champs est obligatoire
                            </div>
                        </div>
                    </div>
                    <div class="col-6 mb-3" *ngIf="
              ['Input', 'TextArea'].includes(
                field.controls['type'].value
              )
            ">
                        <label class="form-label">Placeholder</label>
                        <input type="text" formControlName="placeholder" class="form-control" [ngClass]="{
                'is-invalid': submitted && field.controls['placeholder'].errors
              }" />
                        <div *ngIf="submitted && field.controls['placeholder'].errors" class="invalid-feedback">
                            <div *ngIf="field.controls['placeholder'].errors['required']">
                                Ce champs est obligatoire
                            </div>
                        </div>
                    </div>
                    <div class="col-6 mb-3" *ngIf="
              ['Input', 'TextArea', 'Date'].includes(
                field.controls['type'].value
              )
            ">
                        <label class="form-label">Champs obligatoire</label>
                        <input type="checkbox" formControlName="required" class="form-control" value="false"
                            [ngModel]="false" [ngClass]="{
                'is-invalid': submitted && field.controls['required'].errors
              }" />
                        <div *ngIf="submitted && field.controls['required'].errors" class="invalid-feedback">
                            <div *ngIf="field.controls['required'].errors['required']">
                                Ce champs est obligatoire
                            </div>
                        </div>
                    </div>
                    <div class="col-6 mb-3" *ngIf="
              ['Input', 'TextArea', 'Switch', 'Radio', 'Checkbox', 'Select'].includes(
                field.controls['type'].value
              )
            ">
                        <label class="form-label">Valeur par défaut</label>
                        <input type="text" formControlName="value" class="form-control" />
                    </div>
                    <div class="col-6 mb-3" *ngIf="
              ['RadioButton', 'Checkbox', 'Select'].includes(
                field.controls['type'].value
              )
            ">
                        <label class="form-label">Items -- {{i}}</label>
                        <a class="button" (click)="addItem(i)"> + item</a>
                        <div *ngFor="let item of itemsFormGroupsForField(i); let j = index;">
                            <div [formGroup]="item" class="input-group">
                                <input type="text" formControlName="label" class="form-control" placeholder="Role Label"
                                    [ngClass]="{
                                'is-invalid': submitted && item.controls['label'].errors
                              }" />
                                <div *ngIf="submitted && item.controls['label'].errors" class="invalid-feedback">
                                    <div *ngIf="item.controls['label'].errors['required']">This field is required</div>
                                </div>
                                <input type="text" formControlName="value" class="form-control" placeholder="Role Label"
                                    [ngClass]="{
                                'is-invalid': submitted && item.controls['value'].errors
                              }" />
                                <button class="button" type="button" (click)="remove(i,j)">Remove</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card-footer text-center border-top-0">
        <button class="btn btn-primary me-1" style="margin-right: 15px;">Sauvegarder</button>
        <button class="btn btn-secondary me-1" type="reset" (click)="onReset()">
            Réinitialiser
        </button>
    </div>
</form>