<div class="app-content content">
    <div class="content-overlay"></div>
    <div class="header-navbar-shadow"></div>
    <div class="content-wrapper">
        <div class="content-header row">
            <div class="content-header-left col-md-9 col-12 mb-2">
                <div class="row breadcrumbs-top">
                    <div class="col-12">
                        <h2 class="content-header-title float-left mb-0">Maps</h2>
                        <div class="breadcrumb-wrapper col-12">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a [routerLink]="['/Accueil']">Accueil</a>
                                </li>
                                <li class="breadcrumb-item"><a [routerLink]="['/Securisations']">Sécurisation</a>
                                </li>
                                <li class="breadcrumb-item active">Maps
                                </li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="content-body">
            <section id="gmaps-basic-maps">
                <div class="col-12">
                    <div class="row">
                        <!--<div class="col-8">
                            <div id="map" style="height: 600px;">
                            </div>
                        </div>-->
                        <div class="col-4" id="details" style="display:none;">
                            <div class=" card" style="height: 600px;">
                                <div class=" card-header">
                                    <div class="card-title mb-2">Détails du prélèvement</div>
                                </div>
                                <div class="card-body">
                                    <table>
                                        <tbody>
                                            <tr>
                                                <th class="font-weight-bold">Numéro </th>
                                                <td>{{ prelevement?.numero }}</td>
                                            </tr>
                                            <tr>
                                                <th class="font-weight-bold">Munition Référence</th>
                                                <td align="center">{{ prelevement?.munitionReference }}</td>
                                            </tr>
                                            <tr>
                                                <th class="font-weight-bold">Côte Plateforme</th>
                                                <td align="center">{{ prelevement?.cotePlateforme }}</td>
                                            </tr>
                                            <tr>
                                                <th class="font-weight-bold">Profondeur à sécuriser</th>
                                                <td align="center">{{ prelevement?.profondeurASecuriser }}</td>
                                            </tr>
                                            <tr>
                                                <th class="font-weight-bold">Côte à sécuriser</th>
                                                <td align="center">{{ prelevement?.coteASecuriser }}</td>
                                            </tr>
                                            <tr>
                                                <th class="font-weight-bold">Remarques</th>
                                                <td align="center">{{ prelevement?.remarques }}</td>
                                            </tr>
                                        </tbody>
                                    </table>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section id="basic-datatable" style="padding: 10px;">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">Liste des prélèvements</h4>
                            </div>
                            <div class="card-content">
                                <div class="card-body card-dashboard">
                                    <div class="table-responsive">
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th>Numéro</th>
                                                    <th>Munition de référence</th>
                                                    <th>Côte plateforme</th>
                                                    <th>Profondeur à sécuriser</th>
                                                    <th>Côte à sécuriser</th>
                                                    <th>Remarques</th>
                                                    <th>Status</th>
                                                    <th>Images</th>
                                                    <th>Passes</th>
                                                    <th>Prélèvements</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let pr of prelevements">
                                                    <td>{{ pr.numero }}</td>
                                                    <td>{{ pr.munitionReference }}</td>
                                                    <td>{{ pr.cotePlateforme }}</td>
                                                    <td>{{ pr.profondeurASecuriser }}</td>
                                                    <td>{{ pr.coteASecuriser }}</td>
                                                    <td>{{ pr.remarques }}</td>
                                                    <td>{{ convert(pr.statut) }}</td>
                                                    <td style="font-size: 1.5rem;">
                                                        <a [attr.data-target]="'#modalImages-' + pr.id"
                                                            data-toggle="modal" (click)="onPress(pr.id)"
                                                            style="background-color: transparent;border: 0 solid transparent;padding: 0;">
                                                            <i class="feather icon-eye"></i>
                                                        </a>
                                                    </td>
                                                    <td style="font-size: 1.5rem;">
                                                        <a [attr.data-target]="'#modalPasses-' + pr.id"
                                                            data-toggle="modal" (click)="onPress(pr.id)"
                                                            style="background-color: transparent;border: 0 solid transparent;padding: 0;">
                                                            <i class="feather icon-eye"></i>
                                                        </a>
                                                    </td>
                                                    <td>nbr</td>
                                                    <div class="modal fade" [id]="'modalImages-' + pr.id" tabindex="-1"
                                                        role="dialog" aria-labelledby="modalImagesTitle"
                                                        aria-hidden="true" *ngIf="display">
                                                        <app-images [id]="pr.id"></app-images>
                                                    </div>
                                                    <div class="modal fade" [id]="'modalPasses-' + pr.id" tabindex="-1"
                                                        role="dialog" aria-labelledby="modalPassesTitle"
                                                        aria-hidden="true" *ngIf="display">
                                                    </div>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>